In [153]:
import pandas as pd

In [154]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [155]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [156]:
df.shape

(133349, 11)

In [157]:
linhas, colunas = df.shape[0], df.shape [1]
print ("linhas:", linhas)
print ("colunas:", colunas)

linhas: 133349
colunas: 11

In [158]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [159]:
df.rename(columns={
    'work_year': 'Ano',
    'experience_level': 'Experiencia',
    'employment_type': 'Contrato',
    'job_title': 'Cargo',
    'salary': 'Salario',
    'salary_currency': 'Moeda',
    'salary_in_usd': 'Usd',
    'employee_residence': 'Residencia',
    'remote_ratio': 'Remoto',
    'company_location': 'Empresa',
    'company_size': 'Porte_Empresa'
}, inplace=True)
df.head()

,Ano,Experiencia,Contrato,Cargo,Salario,Moeda,Usd,Residencia,Remoto,Empresa,Porte_Empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [160]:
df.columns

Index(['Ano', 'Experiencia', 'Contrato', 'Cargo', 'Salario', 'Moeda', 'Usd',
       'Residencia', 'Remoto', 'Empresa', 'Porte_Empresa'],
      dtype='object')

In [161]:
df['Ano'].value_counts()

Ano
2024.0    62240
2025.0    60627
2023.0     8521
2022.0     1660
2021.0      216
2020.0       75
Name: count, dtype: int64

In [162]:
df['Experiencia'].value_counts()

Experiencia
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [163]:
df['Contrato'].value_counts()

Contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [164]:
df['Remoto'].value_counts()

Remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [165]:
df['Porte_Empresa'].value_counts(

)

Porte_Empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [166]:
Experiencia = {'SE': 'Senior', 'MI': 'Pleno', 'EN': 'Junior', 'EX': 'Executivo'}
df['Experiencia'] = df['Experiencia'].replace(Experiencia)
df['Experiencia'].value_counts()
df.head()

,Ano,Experiencia,Contrato,Cargo,Salario,Moeda,Usd,Residencia,Remoto,Empresa,Porte_Empresa
0,2025.0,Senior,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,Senior,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,Pleno,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,Pleno,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,Junior,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [167]:
contrato = {'FT': 'Tempo_Integral', 'CT': 'Contrato', 'PT': 'Tempo_Parial', 'FL': 'Freelance'}
df['Contrato'] = df['Contrato'].replace(contrato)
df['Contrato'].value_counts()
df.head()

,Ano,Experiencia,Contrato,Cargo,Salario,Moeda,Usd,Residencia,Remoto,Empresa,Porte_Empresa
0,2025.0,Senior,Tempo_Integral,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,Senior,Tempo_Integral,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,Pleno,Tempo_Integral,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,Pleno,Tempo_Integral,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,Junior,Tempo_Integral,Data Engineer,90000,USD,90000,US,0,US,M

In [168]:
porte_empresa = {'S': 'Pequena', 'M': 'Media', 'L': 'Grande'}
df['Porte_Empresa'] = df['Porte_Empresa'].replace(porte_empresa)
df['Porte_Empresa'].value_counts()
df.head()

,Ano,Experiencia,Contrato,Cargo,Salario,Moeda,Usd,Residencia,Remoto,Empresa,Porte_Empresa
0,2025.0,Senior,Tempo_Integral,Solutions Engineer,214000,USD,214000,US,100,US,Media
1,2025.0,Senior,Tempo_Integral,Solutions Engineer,136000,USD,136000,US,100,US,Media
2,2025.0,Pleno,Tempo_Integral,Data Engineer,158800,USD,158800,AU,0,AU,Media
3,2025.0,Pleno,Tempo_Integral,Data Engineer,139200,USD,139200,AU,0,AU,Media
4,2025.0,Junior,Tempo_Integral,Data Engineer,90000,USD,90000,US,0,US,Media

In [169]:
Remoto = {0: 'Presencial', 50: 'Hibrido', 100: 'Remoto'}
df['Remoto'] = df['Remoto'].replace(Remoto)
df['Remoto'].value_counts()
df.head()

,Ano,Experiencia,Contrato,Cargo,Salario,Moeda,Usd,Residencia,Remoto,Empresa,Porte_Empresa
0,2025.0,Senior,Tempo_Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Media
1,2025.0,Senior,Tempo_Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Media
2,2025.0,Pleno,Tempo_Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Media
3,2025.0,Pleno,Tempo_Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Media
4,2025.0,Junior,Tempo_Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Media

In [170]:
df.describe(include = 'object')

,Experiencia,Contrato,Cargo,Moeda,Residencia,Remoto,Empresa,Porte_Empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Senior,Tempo_Integral,Data Scientist,USD,US,Presencial,US,Media
freq,77241,132563,17314,126140,119579,105312,119641,129561

In [171]:
df.describe()

                 Ano       Salario            Usd
count  133339.000000  1.333490e+05  133349.000000
mean     2024.358770  1.632833e+05  157617.272098
std         0.680627  2.173860e+05   74288.363097
min      2020.000000  1.400000e+04   15000.000000
25%      2024.000000  1.060200e+05  106000.000000
50%      2024.000000  1.470000e+05  146206.000000
75%      2025.000000  1.990000e+05  198000.000000
max      2025.000000  3.040000e+07  800000.000000